.label{
    -fx-text-fill: black;
}

.radio-button{
    -fx-text-fill: black;
}

.combo-box{
    -fx-background-color: white;
}

.text-field{
    -fx-border-radius: 6;
}

.combo-box-base > .arrow-button {
    -fx-padding: 0 4;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background-color: #27b5e0 !important;
}

.button:hover{
    -fx-text-fill: #27b5e0;
}
